.category {
}

.category__title {
  margin: 75px auto 35px;
}
.category__sort {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.category__list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 30px;
}

.category__item {
}

.category__link {
}

.category__name {
}
